{{define "navbar"}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard">
                    <span class="glyphicon glyphicon-home"></span>
                    Αρχική
                </a>
            </div>
            <li><a href="/stelexh">
                <span class="glyphicon glyphicon-user"></span> Στελέχη</a></li>
            <li><a href="/ypiresies">
                <span class="glyphicon glyphicon-tasks"></span> Υπηρεσίες</a></li>
            <li><a href="/dynamologia">
                <span class="glyphicon glyphicon-list-alt"></span> Δυναμολόγια</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-off"></span> Αποσύνδεση
                    </a>
                </li>
            </ul>
    </div>
    </nav>
{{end}}