{{define "stelexh"}}
{{template "header"}}
{{template "navbar"}}
{{.Context.Message}}
<form action="stelexh" method="POST">
    <select  name="label" required>
        {{range .Data.labels}}
            <option value={{.ID}}>{{.Perigrafi}}</option>
        {{end}}
        <option></option>
    </select>
    <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
    <input type="submit" value="Ανάκτηση">
</form>
{{range $key := .Data.rankmap.Keys}}
    <strong>{{$key}}</strong>
    <ul>
    {{range $person := index $.Data.rankmap.Rankmap $key}}
        <li><a href="retrieveproswpiko?id={{$person.ID}}">{{$person.Surname}} {{$person.Name}}</a></li>
    {{end}}
    </ul>
{{end}}

{{template "footer"}}
{{end}}