{{define "listes"}}
{{template "header"}}
{{template "navbar"}}
<div>
    <form class="form-inline" action="listes" method="POST">
        <div class="form-group">
            <select class="form-control" name="label">
                <option value="" selected>-</option>
                    {{range .Data.labels}}
                    <option value={{.ID}}>{{.Perigrafi}}</option>
                {{end}}
            </select>            
        </div>
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <button class="btn btn-primary" type="submit">Ανάκτηση</button>
    </form>
    <p class="text-danger">{{.Context.Message}}</p>    
</div>
<div class="row">
    {{range $key := .Data.rankmap.Keys}}
    <div class="col-sm-4">
        <strong>{{$key}}</strong>
        <div id="myList" class="list-group">
            {{range $person := index $.Data.rankmap.Map $key}}
            <a href="retrieveproswpiko?id={{$person.ID}}" class="list-group-item list-group-item-action">{{$person.Surname}} {{$person.Name}}</a>
        {{end}}
        </div>
    </div>
    {{end}}
</div>
{{template "footer"}}
{{end}}