{{define "listes"}}
{{template "header"}}
{{template "navbar"}}
<form action="listes" method="POST">
    <select name="label">
        <option value="" selected>-</option>
        {{range .Data.labels}}
            <option value={{.ID}}>{{.Perigrafi}}</option>
        {{end}}
    </select>
    <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
    <input type="submit" value="Ανάκτηση">
</form>
{{.Context.Message}}
{{range $key := .Data.rankmap.Keys}}
    <strong>{{$key}}</strong>
    <ul>
    {{range $person := index $.Data.rankmap.Map $key}}
        <li><a href="retrieveproswpiko?id={{$person.ID}}">{{$person.Surname}} {{$person.Name}}</a></li>
    {{end}}
    </ul>
{{end}}
{{template "footer"}}
{{end}}