{{define "navbar"}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="/diaxeiristiko"><span class="glyphicon glyphicon-home"></span> Αρχική</a>
            </div>
            <li><a href="/listusers">
                <span class="glyphicon glyphicon-user"></span> Χρήστες</a></li>
            <li><a href="/typoiadeiwn">
                <span class="glyphicon glyphicon-briefcase"></span> Μεταβολές</a></li>
            <li><a href="/proswpiko">
                <span class="glyphicon glyphicon-folder-open"></span> Προσωπικό</a></li>
            <li><a href="/listes"><span class="glyphicon glyphicon-list">
                </span> Λίστες</a></li>
            <li><a href="/dynamologia">
                <span class="glyphicon glyphicon-list-alt"></span> Δυναμολόγια
            </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-off"></span> Αποσύνδεση
                    </a>
                </li>
            </ul>
    </div>
</nav>
<p>thats another change</p>
{{end}}