{{define "proswpiko"}}
{{template "header"}}
{{template "navbar"}}
<h3>Δημιουργία προσωπικού</h3>
    {{.Context.Message}}
    <form action="cproswpiko" method="POST">
        <input type="text" name="name" required placeholder="Όνομα">
        <input type="text" name="surname" required placeholder="Επίθετο">
        <select name = "rank" required>
            {{range .Data.ranks}}
            <option value={{.ID}}>{{.Rank}}</option>
            {{end}}
        </select>
        <select name="label" required>
            {{range .Data.ierarxia}}
            <option value={{.ID}}>{{.Perigrafi}}</option>
            {{end}}
        </select>    
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <input type="submit" value="Δημιουργία">
    </form>
    <div>
        {{range .Data.proswpiko}}
        <a href="retrieveproswpiko?id={{.ID}}">{{.Name}} {{.Surname}} {{.Rank}}</a>
        {{end}}
    </div>
{{template "footer"}}
{{end}}