<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Context.User}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <ul>
            <li><a href="diaxeiristiko">Αρχική</a></li>
            <li><a href="listusers">Χρήστες</a></li>
            <li><a href="typoiadeiwn">Τύποι αδειών</a></li>
            <li><a href="lambdas">Λάμβδα</a></li>
            <li><a href="deltas">Δέλτα</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>            
        </ul>
    </nav>
    {{.Data.Name}}
    <form action="ddelta" method="POST">
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <input type="hidden" name="id" value={{.Data.ID}}>
        <input type="submit" value="Διαγραφή Δέλτα">
</body>
</html>