{{define "ruser"}}
{{template "header"}}
{{template "navbar"}}
    <div>
        <h3>{{.Data.user.Username}} {{.Data.user.Role}}</h3>
        {{if .Data.user.Label}}
        <p>{{.Data.user.Label}}</p>
        {{end}}
    </div>
    <div>{{.Context.Message}}</div>
    <div>
        <form action="changepass" method="POST">
            <input type="password" required name="password1" placeholder="Κωδικός">
            <input type="password" required name="password2" placeholder="Επιβεβαίωση κωδικού">
            <input type="hidden" name="username" value={{.Data.user.Username}}>
            <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
            <input type="submit" value="Αλλαγή κωδικού">
        </form>
        <form action="deleteuser" method="POST">
                <input type="hidden" name="id" value={{.Data.user.ID}}>
                <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
                <input type="submit" value="Διαγραφή λογαριασμού">    
        </form>
    </div>
    <div>
        <h3>Σύνδεση με βάσεις</h3>
        <form action="updateuserlabel" method="POST">
            <select name="label" required>
            {{if eq "user" .Data.user.Role}}
            <option value="nil">Καμία</option>
            {{range .Data.deltas}}
                <option value={{.ID}}>{{.Name}}</option>
            {{end}}
            {{end}}
            {{if eq "captain" .Data.user.Role}}
            <option value="nil">Καμία</option>
            {{range .Data.lambdas}}
                <option value={{.ID}}>{{.Name}}</option>
            {{end}}
            {{end}}
            </select>
            <input type="hidden" name="id" value={{.Data.user.ID}}>
            <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
            <input type="submit" value="Αποθήκευση">
        </form>
    </div>
{{template "footer"}}
{{end}}