{{define "typoiadeiwn"}}
{{template "header"}}
{{template "navbar"}}
<h3>Δημιουργία τύπου άδειας</h3>
    {{.Context.Message}}
    <div>
        <form action="ctyposadeias" method="POST">
            <input type="text" name="typosadeias" placeholder="Τύπος άδειας" required>
            <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
            <input type="submit" value="Δημιουργία">
        </form>
    </div>
    <h3>Λίστα τύπων άδειας</h3>
    <div>
        {{$csrftoken := .Context.Csrftoken}}
        {{range .Data}}
        <p>{{.TyposAdeias}}</p>
        <form action="dadeia" method="POST">
            <input type="hidden" name="csrftoken" value={{$csrftoken}}>
            <input type="hidden" name="id" value={{.ID}}>
            <input type="submit" value="Διαγραφή">
        </form>
        {{end}}
    </div>
{{template "footer"}}
{{end}}