{{define "users"}}
{{template "header"}}
{{template "navbar"}}
<h3>Δημιουργία χρήστη</h3>
    {{.Context.Message}}
    <form action="cuser" method="POST">
        <input type="text" name="username" placeholder="Όνομα χρήστη" required>
        <input type="password" name="password1" placeholder="Κωδικός" required>
        <input type="password" name="password2" placeholder="Επιβεβαίωση κωδικού" required>
        <select name="role">
            <option value="1" selected>Απλός χρήστης</option>
            <option value="2">Μέσος χρήστης</option>
            <option value="3">Διαχειριστής</option>
        </select>
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <input type="submit" value="Δημιουργία">
    </form>
    {{range .Data}}
    <a href="retrieveuser?id={{.ID}}">{{.Username}} - {{.Role}}</a>
    {{end}}
{{template "footer"}}
{{end}}