{{define "users"}}
{{template "header"}}
{{template "navbar"}}
<div class="container-fluid">
<h3>Δημιουργία χρήστη</h3>
    <form class="form-inline" action="cuser" method="POST">
        <div class="form-group">
            <label>Όνομα</label>
            <input class="form-control" type="text" name="username" placeholder="Όνομα χρήστη" required>
        </div>
        <div class="form-group">
            <label>Κωδικός</label>
            <input class="form-control" type="password" name="password1" placeholder="Κωδικός" required>
        </div>
        <div class="form-group"> 
           <label>Επιβεβαίωση κωδικού</label>  
           <input class="form-control" type="password" name="password2" placeholder="Επιβεβαίωση κωδικού" required>
        </div>
        <div class="form-group">
            <label>Ρόλος</label>
            <div class="input-group">
                <select class="form-control custom-select" name="role">
                    <option value="1" selected>Απλός χρήστης</option>
                    <option value="2">Μέσος χρήστης</option>
                    <option value="3">Διαχειριστής</option>
                    </select>
            </div>        
        </div>
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <button type="submit" class="btn btn-primary">Δημιουργία</button>
    </form>
    <p class="text-danger">{{.Context.Message}}</p>
</div>
<div class="container-fluid">
    <h3>Λίστα χρηστών</h3>
    <ul class="list-group">
        {{range .Data}}
        <li class="list-group-item"><a href="retrieveuser?id={{.ID}}">{{.Username}} - {{.Role}}</a></li>
        {{end}}
    </ul>
</div>
    
{{template "footer"}}
{{end}}