<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.Context.User}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <ul>
            <li><a href="diaxeiristiko">Αρχική</a></li>
            <li><a href="users">Χρήστες</a></li>
            <li><a href="typoiadeiwn">Τύποι αδειών</a></li>
            <li><a href="logout">Αποσύνδεση</a></li>
        </ul>
    </nav>
    <h3>
        Δημιουργία χρήστη
    </h3>
    {{.Context.Message}}
    <form action="cuser" method="POST">
        <input type="text" name="username" required>
        <input type="password" name="password1" required>
        <input type="password" name="password2" required>
        <select name="role">
            <option value="user" selected>Απλός χρήστης</option>
            <option value="admin">Διαχειριστής</option>
        </select>
        <select name="db">
            <option value="1/1">1/1</option>
            <option value="2/1">2/1</option>
            <option value="3/1">3/1</option>
            <option value="1/2">1/2</option>
            <option value="2/2">2/2</option>
            <option value="3/2">3/2</option>
            <option value="0">0</option>
            <option value="nil">Καμία</option>
        </select>
        <input type="hidden" name="csrftoken" value={{.Context.Csrftoken}}>
        <input type="submit" value="Δημιουργία">
    </form>
    {{range .Data}}
    <a href="retrieveuser?username={{.Username}}">{{.Username}} - {{.Role}}</a>
    {{end}}
</body>
</html>