<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello world</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    <div>
        <p>Test Login</p>
        <form action="/dologin" method="POST">
            <label>Όνομα </label><input name="username" placeholder="Όνομα χρήστη" type="text">
            <label>Κωδικός</label><input name="password" placeholder="Κωδικός" type="password">
            <input type="hidden" name="csrftoken" value="{{.Context.Csrftoken}}">
            <input type="submit" value="Σύνδεση">
        </form>
    </div>
    <div>
        <p>Test signup</p>
        <form action="/dosignup" method="POST">
                <label>Όνομα </label><input name="username" placeholder="Όνομα χρήστη" type="text">
                <label>Κωδικός</label><input name="password" placeholder="Κωδικός" type="password">
                <select name="role">
                    <option selected value="user">Απλός Χρήστης</option>
                    <option value="admin">Διαχειριστής</option>
                </select>
                <input type="hidden" name="csrftoken" value="{{.Context.Csrftoken}}">    
                <input type="submit" value="Εγγραφή">    
        </form>
    </div>
    {{.Context.Message}}
</body>
</html>